

.roll-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border: solid black 5px;

}

.cart-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border: solid black 5px;

}

hr.top {
    border: none;
    height: 3px;
    background-color: #333; 
  }

hr.bottom{
    border: none;
    height: 5px;
    background-color: #333; 
    width: 1000px
}

p{
    text-align: left;

}

p.nav{
    text-align: center;
    text-decoration: none;
}

b{
    font-weight: bold;
    background-color: yellow;
    text-decoration: none;
}

p.customize{
    text-align: center;
    white-space: nowrap;
}

p.selector{
    text-align: center;
}

p.remove{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

p.description{
    text-align: center;
    font-size: 18px;
    line-height: 2.5;
}


h3{
    text-align: center;
    font-size: 25px;
    font-weight: normal
}

div{
    margin: auto;
    width: 410px;
    text-align: center;
}

div.selector{
    text-align: center;
}
div.roll:hover{
    background-color: yellow
}


p.addtocart{
    text-align: center;
    font-weight: bold;
}


p.checkout{
    text-align: center;
    font-weight: bold;
}



span{
    border: 1px solid black;
    background-color: yellow;
    text-align: center;
    width: 50px;
}