.gallery-container {
	padding-top:  60px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 50px;
	height: 900px;

}

p.price {
	margin-top: auto;
}
.gallery-item:hover {
	background-color: yellow;
}

.gallery-item {
	display: flex;
	margin-top: 20px;
	/* if use margin: auto here, will automatically center everything
	so using margin-top can make sure that all of the top gallery-items 
	are aligned */
	flex-direction: column;
	align-self: flex-start;
}


.gallery-item img {
	width:  285px;
	margin: auto;
}

.gallery-item .name {
	text-decoration: underline;
	width: 285px; 
    text-align: left; 
}

p.name:hover {
	font-weight: bold;
}
